& when (@media-common = true) {
    .page-wrapper {
        .nav-sections {
            margin-bottom: 15px;
            height: 50px;
            background-color: #3158A8;
            .nav-sections-items {
                height: inherit;
                .nav-sections-item-content {
                    height: inherit;
                    .navigation {
                        background-color: inherit;
                        ul {
                            padding-left: 40px;
                            padding-right: 31px;
                            display: flex;
                            justify-content: space-between;
                            li {
                                a {
                                    height: 100%;
                                    span {
                                        color: #ffffff;
                                        font-family: 'TeXGyreAdventorRegular';
                                        height: 25px;
                                        width: 83px;
                                        font-size: 16px;
                                        font-weight: bold;
                                        letter-spacing: 0;
                                        line-height: 53px;
                                    }
                                }
                            }
                        }
                    }
                }           
            }        
        }
        .end-footerr {
            padding-top: 6px;
            border: 1px solid #3E71DB;
            padding: 0 161px;
            align-items: center;
            height: 81px;
            background-color: #264A95;
            display: flex;
            .card {
                .card2 {
                    padding-left: 4px;
                }
                .card3 {
                    padding-left: 3px;
                }
                padding-left: 36px;
                flex-grow: 1;
            }
            .social-img {
                padding-top: 3px;
                .social2{
                    padding: 0 16px;
                }
            }
        }
    }
}

