@base-font:TeXGyreAdventorRegular;

& when (@media-common = true) {
    .page-wrapper {
        .page-footer {
            padding-bottom: 46px;
            background-color: #3158A8;
            .footer {
                img {
                    padding-top: 10px;
                }
                .newsletter {
                    margin: auto;
                    .title {
                        padding-top: 7px;
                        padding-bottom: 6px;
                        margin: 0;
                        display: block;
                        color: #FFFFFF;
                        font-family: @base-font;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 20px;
                    }
                    .content {
                        padding-right: 178px;
                        .form {
                            box-sizing: border-box;
                            height: 44px;
                            width: 352px;
                            border: 1px solid #3158A8;
                            border-radius: 3px;
                            .newsletter {
                                height: 100%;
                                .control::before{
                                    display: none;
                                }
                                .control {
                                    input {
                                        padding: 0 0 0 17px;
                                        margin: 0;
                                        border: none;
                                        height: -webkit-fill-available;
                                        color: #333333;
                                        font-family: @base-font;
                                        font-size: 14px;
                                        letter-spacing: 0;
                                        line-height: 20px;
                                    }
                                }
                            }
                            .actions {
                                .action {
                                    padding-right: 10px;
                                    border: none;
                                    height: 44px;
                                    width: 124px;
                                    border-radius: 0 3px 3px 0;
                                    background-color: #F37021;
                                    height: 100%;
                                    span {
                                        height: 20px;
                                        width: 55px;
                                        color: #FFFFFF;
                                        font-family: @base-font;
                                        font-size: 14px;
                                        font-weight: bold;
                                        letter-spacing: 0;
                                        line-height: 20px;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
                .root-line {
                    margin-top: 20px;
                    height: 1px;
                    background-color: #3E71DB;
                    position:absolute;
                    left:0;
                    right:0;
                }
                .root-info {
                    padding-top: 63px;
                    font-family: @base-font;
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    color: #FFFFFF;
                    a {
                        font-size: 14px;
                        color: #FFFFFF;
                    }

                    //cate
                    .root-cate {
                        // padding-right: 56px;
                        &__titile {
                            letter-spacing: 01px;
                            text-transform: uppercase;
                        }
                        .list-cate {
                            line-height: 24px;
                            display: flex;
                            flex-direction: column;
                            .widget {
                                margin: 0;
                            }
                        }
                    }

                    //price
                    .about-price {
                        &__titile {
                            letter-spacing: 01px;
                            text-transform: uppercase;
                        }
                        &__list {
                            line-height: 24px;
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    //shopping 
                    .shopping {
                        &__titile {
                            letter-spacing: 01px;
                            text-transform: uppercase;
                        }
                        &__list {
                            line-height: 24px;
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    //information
                    .information {
                        &__titile {
                            letter-spacing: 01px;
                            text-transform: uppercase;
                        }
                        &__list {
                            line-height: 24px;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                    .ph-address {
                        &__titile {
                            letter-spacing: 01px;
                            text-transform: uppercase;
                        }
                        &__list {
                            line-height: 24px;
                            display: flex;
                            flex-direction: column;
                            .address-item {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }  
}

