// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________
@base-font:TeXGyreAdventorRegular; 
& when (@media-common = true) {
    .filter {
        font-family: @base-font;
        .filter-title {
            display: none;
        }
        .filter-content {
            .filter-current {
                padding-bottom: 2px;
                .block-subtitle {
                    height: 27px;
                    color: #3158A8;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 27px;
                }
                .items {
                    padding-top: 20px;
                    .item {
                        display: flex;
                        .filter-label {
                            height: 20px;
                            color: #333333;
                            font-size: 14px;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 20px;
                        }
                        .filter-value {
                            padding-left: 17px;
                            flex-grow: 1;
                            height: 20px;
                            color: #333333;
                            font-size: 14px;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 20px;
                        }
                        .action::before {
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f00d";
                            height: 20px;
                            width: 9px;
                            color: #E74C3C;
                            font-size: 13px;
                            letter-spacing: 0;
                            line-height: 20px;
                            text-align: right;
                        }
                        .action {
                            &:extend(.abs-remove-button-for-blocks all);
                            text-align: end;
                            padding: 0;
                            position: unset;
                            top: -1px;                          
                        }
                    }
                }
            }
            .filter-actions {
                text-align: end;
                padding: 0 0 23px 0;
                .filter-clear {
                    span {
                        height: 20px;
                        color: #E74C3C;
                        font-size: 13px;
                        letter-spacing: 0;
                        line-height: 20px;
                    }
                }
            }
            .filter-options {
                .filter-options-item {
                    display: flex;
                    flex-direction: column;
                    .filter-options-title {
                        padding-bottom: 6px;
                        border-bottom: 1px solid #F4F4F4;
                        height: 27px;
                        color: #3158A8;
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 27px;
                    }
                    .filter-options-content {
                        display: block !important;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 24px;
                        .items {
                            padding-top: 9px;
                            padding-bottom: 30px;
                            .item {
                                margin: 0;
                                a {
                                    color: #333333;
                                    #test {
                                        box-sizing: border-box;
                                        height: 20px;
                                        width: 20px;
                                        border: 1px solid #E4E4E4;
                                        border-radius: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
}
